<ion-view view-title="活动">
    <!-- <ion-nav-buttons side="primary">
        <button class="button button-light button-clear icon ion-plus-round" ng-click="createMeet()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-light button-clear icon ion-ios-body" ng-click="editSpecialInfo()">
            <span class="header-badge badge badge-assertive" style="display:inline" ng-show="usersRQ.result[0].profile.needUpdateSpecialInfoCount > 0">{{usersRQ.result[0].profile.needUpdateSpecialInfoCount}}</span>
        </button>
    </ion-nav-buttons> -->
    <div class="bar bar-subheader">
        <div class="row">
            <button class="button col item button-balanced" ng-class="{'button-balanced': curFilter == '活动广场' }" ng-click="chooseFilter('活动广场')">活动广场</button>
            <button class="button col item" ng-class="{'button-balanced': curFilter == '已关注活动'}" ng-click="chooseFilter('已关注活动')">已关注活动</button>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <ion-list>
            <div class="list card" ng-repeat="item in activitiesRQ.result | filter: {mine: mineFilter} |orderBy: '-start.$date'">
                <div class="pp-image-drop-back" ng-click="clickActivity(item)">
                    <div class="row">
                        <h3 class="pp-white-font col col-90">{{item.title}}</h3>
                        <div class="col col-10">
                            <span class="badge badge-assertive pp-badge-height" ng-hide="unreadGroupChatCount(item._id) == 0">{{unreadGroupChatCount(item._id)}}</span>
                        </div>
                    </div>
                    <div class="row pp-space-big">
                        {{item.description}}
                    </div>
                    <div class="row">
                        <i class="icon ion-location col col-10"></i>
                        <span class="col col-90">{{item.place}}</span>
                    </div>
                    <div class="row row-center">
                        <i class="icon ion-android-calendar col col-10"></i>
                        <span class="col col-80">{{item.start.$date | amDateFormat:'YYYYMMMMDo h:mm:ss a'}}
                            <br> {{item.end.$date | amDateFormat:'YYYYMMMMDo h:mm:ss a'}}
                            </span>
                        <div class="col col-10">
                            <a ng-if="curFilter == '活动广场'" class="button button-small button-balanced" ng-click="joinActivity(item)">Go</a>
                            <a ng-if="curFilter == '已关注活动'" class="button button-small button-balanced" ng-click="enterActivity(item._id)">In</a>
                        </div>
                    </div>
                </div>
        </ion-list>
    </ion-content>
</ion-view>