<ion-view view-title="活动">
    <!-- <ion-nav-buttons side="primary">
        <button class="button button-light button-clear icon ion-plus-round" ng-click="createMeet()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-light button-clear icon ion-ios-body" ng-click="editSpecialInfo()">
            <span class="header-badge badge badge-assertive" style="display:inline" ng-show="usersRQ.result[0].profile.needUpdateSpecialInfoCount > 0">{{usersRQ.result[0].profile.needUpdateSpecialInfoCount}}</span>
        </button>
    </ion-nav-buttons> -->
    <div class="bar bar-subheader">
        <div class="row">
            <button class="button col item button-balanced" ng-class="{'button-balanced': curFilter == '活动广场' }" ng-click="chooseFilter('活动广场')">活动广场</button>
            <button class="button col item" ng-class="{'button-balanced': curFilter == '已关注活动'}" ng-click="chooseFilter('已关注活动')">已关注活动</button>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <ion-list>
            <div class="list card" ng-repeat="item in otherActivitiesRQ.result | orderBy: '-start.$date'">
                <div class="pp-image-drop-back" ng-click="clickActivity(item)">
                    <div class="row">
                        <h3 class="pp-white-font">{{item.title}}</h3>
                    </div>
                    <div class="row pp-space-big">
                        {{item.description}}
                    </div>
                    <div class="row">
                        <i class="icon ion-location col col-10"></i>
                        <span class="col col-90">{{item.place}}</span>
                    </div>
                    <div class="row row-center">
                        <i class="icon ion-android-calendar col col-10"></i>
                        <span class="col col-80">{{item.start.$date | amDateFormat:'YYYYMMMMDo h:mm:ss a'}}
                            <br> {{item.end.$date | amDateFormat:'YYYYMMMMDo h:mm:ss a'}}
                            </span>
                        <div class="col col-10">
                            <a class="button button-small button-balanced" ng-click="joinActivity(item)">Go</a>
                        </div>
                    </div>
                    <!-- <img ng-src="{{item.image || 'img/activityImage.png'}}"> -->
                    <!--  <img ng-src="{{getImg(item)}}">
                    <div class="row">
                        <div class="col">
                            <h2>{{getCustomStatus(item)}}</h2>
                        </div>
                        <div class="col" ng-if="item.status == '待确认' && item.newMatchCount"><i class="icon assertive ion-heart"> {{item.newMatchCount}}</i></div>
                        <div class="col" ng-if="item.status == '待回复' && item.targetUserId === usersRQ.result[0]._id"><i class="icon pp-black ion-ios-filing"> {{item.replyLeft}}</i></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{item.createrUserId === usersRQ.result[0]._id ? '发出' : '收到'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pp-black"><i class="icon ion-android-time"> <span am-time-ago="item.createdTime.$date" class="pp-black"></span></i></div>
                        <div class="col"></div>
                    </div>
                    <div class="row" ng-if="item.status == '待回复' || item.status == '待确认'">
                        <div class="col pp-black"><i class="icon ion-ios-stopwatch-outline pp-black"> <timer end-time="item.createdTime.$date + 3600000" interval="1000">{{hhours}}小时{{mminutes}}分{{sseconds}}秒</timer></i></div>
                    </div> -->
                    </a>
                </div>
        </ion-list>
    </ion-content>
</ion-view>