<!-- <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light"> -->
    <ion-tabs class="tabs-striped tabs-color-positive" ng-class="{'tabs-item-hide': hideTabs}">
        <!-- meet Tab -->
        <ion-tab title="邀请" icon="ion-ios-pulse-strong" href="#/tab/meet">
            <ion-nav-view name="tab-meet"></ion-nav-view>
        </ion-tab>
         <!-- meet Activity -->
        <ion-tab title="活动" icon="ion-ios-pulse-strong" href="#/tab/activity">
            <ion-nav-view name="tab-activity"></ion-nav-view>
        </ion-tab>
        <!-- friend Tab -->
        <ion-tab title="好友" icon="ion-ios-chatbubble" href="#/tab/friend" badge="unreadMessageCountsRQ.result[0].count" badge-style="badge-assertive">
            <ion-nav-view name="tab-friend"></ion-nav-view>
        </ion-tab>
        <!-- setting Tab -->
        <ion-tab title="设置" icon="ion-gear-b" href="#/tab/setting">
            <ion-nav-view name="tab-setting"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
<!-- </div> -->